# Ignore everything
*

# Except the "src" directory
!src/
!src/**
!.gitignore

# Ignore all "__pycache__" folders and their contents
__pycache__/
**/__pycache__/

# Ignore the contents of the "src/data" directory
src/data/**
!src/data/